body { background: blue; }
header { margin-top: 30px; }
header a { color: black; text-decoration: none; }
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-primary {    width: 135px;
    margin: 20px 0px 30px 30px;
    height: 50px;
    background: rgba(60,60,60,1);
background: rgba(60,60,60,1);
background: -moz-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(60,60,60,1)), color-stop(0%, rgba(66,66,66,1)), color-stop(0%, rgba(66,66,66,1)), color-stop(0%, rgba(74,74,74,1)), color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(42,40,40,1)));
background: -webkit-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
background: -o-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
background: -ms-linear-gradient(top, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
background: linear-gradient(to bottom, rgba(60,60,60,1) 0%, rgba(66,66,66,1) 0%, rgba(66,66,66,1) 0%, rgba(74,74,74,1) 0%, rgba(74,74,74,1) 0%, rgba(42,40,40,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#2a2828', GradientType=0 );
border:1px solid #232323;
color=#fff;
box-shadow: 0px 2px 0px #000;
-moz-box-shadow: 0px 2px 0px #000;
-webkit-box-shadow: 0px 2px 0px #000;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #782b2b;  border-color: #952b2b; }
